<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gen QR</title>
    <link rel="stylesheet" href="styles/main.css"> />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-title">
        <h1>Generate QR for your Info.</h1>
    </div>
    <div class="input-label">
        <form action="/" method="POST">
            <div class="label-title">
                <label for="content">Enter Your Info :</label><br>
            </div>
            <br>
            <div class="table-content">
                <textarea id="content" name="content" placeholder="Enter Content..."></textarea><br>
            </div>
            <br>
            <button type="submit" class="button-submit">Generate</button>
            <p>*Please Enter the info. in not more than few lines*</p>       
        </form>
    </div>
</body>
</html>